.container{
    display: flex;
    justify-content: space-around;
}
.list1{
    list-style-type: none;
    padding: 0px;
    margin: 0; 
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width:600px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
}
.list2{
    list-style-type: none;
    padding: 0px;
    margin: 0; 
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width:600px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    display: none;
}
.list__item{
    flex:1 0 50%;
    box-sizing: border-box;
    border-right: 1px solid black;
    border-top:1px solid black;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.list__item--high{
    background-color: rgb(194, 202, 209);
    font-weight: 900;
}
.list__item--gray{
    background-color: aliceblue;
}
.title{
    margin: 30px;
    height:50px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color:blue;
    background:linear-gradient(to right,rgb(184, 237, 159),rgb(116, 243, 248));
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    box-shadow: 1px 2px rgb(98, 97, 97);
}
.card{
    display: flex;
    width: 600px;
    height: 120px;
    border-radius: 30px;
    align-items: center;
    margin:30px;
    box-shadow: 1px 2px rgb(98, 97, 97);
    position: relative;
    overflow: hidden;
    cursor: default;
}
.card__sun{
    background-color: rgb(233, 244, 182);
}
.card__moon{
    background-color: black;
    color:rgb(255, 255, 255)
}
.card__sun--img{
    height:80px;
    width: 80px;
    background-color: rgb(247, 121, 4);
    border-radius: 50%;
    margin-left:20px;
}
.card__moon--img{
    height:80px;
    width: 80px;
    background-color: transparent;
    box-shadow: 20px 20px 0  0 yellow;
    border-radius: 50%;
    margin-top: -40px;
}
.card__textContainer{
    margin-left: 10px;
    padding: 10px;
    width: 460px;
    height: 100px;
}
.card__textContainer--moon{
    margin-left: 30px;
}
.card__time{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.card__contentContainer{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    height:80px;
    justify-content: space-between;
}
.card__item{
    width:140px;
    text-align: center;
}
.rain__fall{
    width:4px;
    height:7px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    animation: fall 1s linear infinite;
    left:10%;
}
@keyframes fall{
    0% {
        transform: translateY(-60px);
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform:translateY(60px) translateX(-30px);
        opacity: 0.3;
}
}
.cloud {
    width: 60px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    box-shadow: 5px 5px 5px gray;
    animation: cloudmove 10s linear infinite;
    top:80px;
}
@keyframes cloudmove{
    0% {
        transform: translateX(0px);
        
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform:translateX(0px);
        
}
}
.card__tag{
    display: none;
    position: absolute;
    background-color: #cfc9c9;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 3px;
}
.open{
    display: block;
}
@media(max-width:1200px){
    .container{
        display: block;
    }
    .list1{
        display: none;
    }
    .card{
        width: 90%;
        justify-content: space-between;
    }
    .card__textContainer{
        width: calc(90% - 80px);
    }
    .card__contentContainer{
        font-size: 14px;
    }
    .list2{
        display: flex;
        margin:auto;
        margin-bottom: 20px;
    }
}