body{
  min-height: 95vh;
}
.section-all-county{
  margin-bottom: 10px;
  background: #d3d2d2;
}
.container-all-county{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title-all-county{
  width: 1200px;
  text-decoration: underline;
  font-size: 28px;
  margin-top: 30px;
  text-align: center;
}
.all-county-publish-time{
  display: block;
  width: 1000px;
  font-size: 18px;
  text-align: right;
  padding-top: 10px;
  margin-bottom: 10px;
}
svg {
  height: 80vh;
}
path {
  stroke: #666666;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.main-container{
  display: flex;
  justify-content: center;
}
.svg-container{
  margin-top: 10px;
}
.table-container{
  display: flex;
  justify-content: center;
}
.main-weather-table{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.container-weather-table{
  width: 100%;;
  height: 90%;
  margin: auto;
  padding-top: 20px;
}
.container-weather-table > .row{
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}
.container-weather-table > .row > div{
  margin: 0px 10px;
  padding: 6px 10px;
  text-align: center;
}
.county-name{
  cursor: pointer;
}
.container-weather-table > .row > div >span{
  padding: 5px 20px;
}
.highlight {
  fill: rgb(229, 156, 88); 
  background-color: rgba(229, 156, 88, 0.5); 
}
.discord-icon{
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.umbrella-icon{
  vertical-align: bottom;
  width: 15px;
  height: 15px;
}

@media (min-width:1201px) and (max-width: 2000px) {
  .container-weather-table{
    padding-top: 70px;
  }
}

@media (min-width:401px) and (max-width: 1200px) {
  svg {
    height: 50vh;
  }
  .all-county-publish-time{
    width: 300px;
  }
  .main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-weather-table{
    width: 100%;
    margin-top: 30px;
  }
  .container-weather-table > .row{
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  .container-weather-table > .row > div{
    margin: 5px 5px;
    padding: 0px 5px;
  }
  .container-weather-table > .row > div >span{
    padding: 5px 10px;
  }
}
@media (max-width: 400px) {
  svg {
    height: 50vh;
  }
  .all-county-publish-time{
    width: 300px;
  }
  .main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-weather-table{
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
  }
  .container-weather-table > .row{
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  .container-weather-table > .row > div{
    margin: 5px 5px;
    padding: 0px 5px;
  }
  .container-weather-table > .row > div >span{
    padding: 5px 0px;
  }
}
